build/
.cache/
compile_commands.json
*.out.*
*.swp
*.swo
resources/*/problems/
*.log
*.png
__pycache__/
problems.json
problems.pkl
*.pyc
*.pyo
*.pyd
*.el
venv/
/resources/panda/*.json
/resources/panda/*.pkl
src/vamp/_core/*.pyi
/.mypy_cache/
